html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Move 30 
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap' rel='stylesheet')
		link(rel='stylesheet' href='/css/style.css')
	body 
		nav(class='navbar')
			div(class='brand-title')
				a(href='/') Move 30
			a(href='#' class='toggle-button')
				span(class='bar')
				span(class='bar')
				span(class='bar')
			div(class='navbar-links')
				ul
					li
						a(href='/profile') Profile
					li
						a(href='/auth/login') Login
					li
						a(href='/auth/signup') Signup
		//- nav
		//- 		a(href='/') Move 30
		//- 			//- takes user back to homepage
		//- 		ul
		//- 			li
		//- 				a(href='/profile') Profile
		//- 				//- renders the profile page
		//- 			li
		//- 				a(href='/auth/login') Login
		//- 				//- renders the login page
		//- 			li
		//- 				a(href='/auth/signup') Sign Up
block content