extends layouts/main-layout.pug 
//- this acts like a partial

block content
  .main
    .main-child.left
      img.yoga(src='/imgs/yoga-home.jpg')
    .main-child.right
      h1 Move 30
      p A community to encourage eachother to get in at least 30 minutes of movement a day for both our physical and mental well being.
  //-my form
  //- form(action='/new' method='POST')
  //-   label(for='firstName') First Name
  //-   input(type='text' name='firstName')
  //-   button(type='submit') Submit

