extends layouts/main-layout.pug 
//- this acts like a partial

block content
	.container
		img(src='https://placedog.net/500')
		h1 What is Move 30?
		p Move 30 is a community centered around physical and mental wellness. We encourage eachother to introduce movement into our daily lives, for at least 30 minutes a day. Feel free to share pictures and stories about your daily activities. 


