extends layouts/main-layout.pug 
//- this acts like a partial

block content
  h1 Hello World
  form(action='/new' method='POST')
    label(for='firstName') First Name
    input(type='text' name='firstName')
    button(type='submit') Submit
  
