extends layouts/main-layout.pug 

block content
	section
				h1 Document your 30 minutes of movement for the day: 
				form(action='/new' enctype='multipart/form-data' method='post')
					div
						label(for='caption') Caption
						textarea#caption.form-control(name='caption' placeholder='Write about your 30 minutes of movement here...')
					div
						label.form-label(for='imgUpload') Share a pic
						input#imageUpload.form-control(type='file' name='file')
					button(type='submit') Submit
				if user
					a.btn(href='/auth/logout') Logout

