* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body {
  color: #263238;
  padding: 0;
  margin: 0;
}

/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #7209b7;
}

.brand-title {
  font-size: 2rem;
  margin: 0.5rem;
}

.brand-title a {
  text-decoration: none;
  color: #7209b7;
  font-weight: bold;
}

.brand-title a:hover {
  background-color: #7209b7;
  color: white;
}

/* .brand-title a:hover {
  color: white;
} */

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #7209b7;
  padding: 1rem;
  display: block;
  font-weight: bold;
}

/* hover animations on navbar links */
.navbar-links li a:hover {
  background-color: #7209b7;
  color: white;
}

/* toggle button */
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #7209b7;
  border-radius: 10px;
}

/* hamburger nav */
@media (max-width: 425px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* Login and Signup Pages */
.loginHeading,
.signupHeading {
  text-align: center;
}

.loginForm,
.signupForm {
  width: 200px;
  padding: 20px;
}

.createAccountButton,
.loginButton {
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); */
}

/* Buttons */
button {
  background: #3795bd;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding: 4px 10px;
}
