* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  color: #263238;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}

/* nav bar media queries */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    margin: 0 auto;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
  nav * {
    align-self: center;
  }
}

/* info area */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid purple;
}

.container p {
  padding: 1rem 3rem 0 3rem;
  text-align: center;
}

/* need to center the paragraph for mobile view */
